/* Created September 23rd
    by Noel Kling
 */

@media screen and (max-width: 600px) {
  .sponsors-container h2 {
    text-align: center;
    font-size: 20px;
  }

  .ren-faire {
    width: 100%;
  }

  .les-amis {
    width: 100%;
  }

  .cast-list {
    flex-direction: column;
  }

  .cast-picture {
    align-self: center;
    border-left: 5px double;
    border-bottom: 5px double;
  }
}

/* Bulk of general */

:root {
  --borderDesign: 5px solid #5000e6b6;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("images/steelgray-print.jpg");
  background-size: cover;

  margin: 0 auto -50px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  font-size: 24px;
}

a {
  color: #5100e6;
}

.margin-width {
  margin-right: 5%;
  margin-left: 5%;
}

/* Collapsable Sections */
.collapsible {
  border: none;
  outline: none;
  text-align: center;
  font-size: 27px;
  padding: 20px;
  width: 100%;
}

.content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* Attention Space */

#attention-div {
  margin: 2% 0;
}

.attention-bttn {
  background-color: rgb(190, 42, 42);
  color: white;
}

.attention-bttn:hover {
  background-color: rgb(102, 22, 22);
}

#attention-text {
  background-color: #ffae0073;
}

/* Introduction Text */

.intro-container {
  margin: 0 5% 5% 5%;
  padding: 0 7px;
  border-top: var(--borderDesign);
  border-bottom: var(--borderDesign);
}

.intro-container h1,
.intro-container h3 {
  text-align: center;
}

.intro-container h1 {
  margin-bottom: 0.5%;
  font-family: "Tangerine", cursive;
  font-size: 75px;
}

.intro-container h3 {
  font-family: "Sansita Swashed", cursive;
  margin-top: 0.5%;
  margin-bottom: 4%;
}

#closing-line {
  padding-top: 10px;
  text-align: center;
  font-weight: 700;
}

/* Dates */
.dates {
  text-align: center;
  padding-bottom: 3%;
  border-bottom: var(--borderDesign);
}

.dates h2 {
  font-size: 40px;
}

.dates h3 {
  font-size: 30px;
}

.dates h2,
.dates h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/* Other Events */
.other-events {
  padding: 0 5%;
  padding-bottom: 5px;
  border-bottom: var(--borderDesign);
}

.other-events h2 {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: -15px;
}

.other-events span {
  color: #ff7300;
  text-decoration: underline;
}

/* Cast & Warriors */

.current {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

.current a {
  color: #5100bbc0;
  text-decoration: none;
}

.guild {
  margin: 10px 0;
  padding: 15px;
}

.intro-p {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  text-align: left;
}

.court-guild {
  color: white;
  background-color: rgb(17, 0, 255);
  border: 15px double rgb(192, 163, 0);
}

.court-guild::-webkit-details-marker {
  color: rgb(192, 163, 0);
}

.fae-guild {
  color: white;
  background-color: rgb(0, 155, 21);
  border: 7px dashed rgb(226, 155, 0);
}

.fae-guild::-webkit-details-marker {
  color: rgb(226, 155, 0);
}

.fighter-guild {
  color: rgb(51, 51, 51);
  background: linear-gradient(
    to bottom right,
    rgb(138, 138, 138),
    rgb(245, 245, 245),
    rgb(121, 121, 121)
  );
  border: 7px inset rgb(236, 162, 0);
}

.fighter-guild::-webkit-details-marker {
  color: rgb(236, 162, 0);
}

.traveler-guild {
  color: white;
  background: linear-gradient(
    to right,
    rgb(163, 139, 0),
    rgb(15, 128, 0),
    rgb(104, 53, 5)
  );
  border: 7px dotted rgb(248, 76, 76);
  padding: 3px;
}

.traveler-guild::-webkit-details-marker {
  color: rgb(248, 76, 76);
}

.village-guild {
  color: white;
  background: rgb(133, 64, 18);
  border: 7px solid rgb(41, 85, 35);
  padding: 3px;
}

.village-guild::-webkit-details-marker {
  color: rgb(41, 85, 35);
}

.cast-picture {
  max-height: 200px;
  max-width: 200px;
  margin: 0 15px 0 0;
  border-right: 5px double black;
}

.guild-lead {
  text-align: center;
}

.character-text {
  padding-left: 15px;
}

.cast-list {
  display: flex;
  font-family: "Sansita Swashed", cursive;
  font-size: 1.2rem;
  text-align: left;
  background: rgb(255, 242, 222);
  border: 5px double black;
  margin: 25px 0;
  overflow: auto;
}

.warriors {
  background-color: rgb(238, 238, 238);
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  border: 30px solid #ca7703;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 95px;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url("/images/fancy-divider-flipped.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.warrior-text {
  margin-top: -25px;
  padding-bottom: 95px;
  background-image: url("/images/fancy-divider.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.warrior {
  font-family: "Eagle Lake", cursive;
  font-size: 24px;
  margin: 10px 5px;
}

#warrior {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#warrior-sign {
  max-height: 650px;
  border-radius: 20%;
  margin-bottom: 20px;
}

/* Social Media */

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1%;
  white-space: nowrap;
  border-bottom: var(--borderDesign);
}

.social-media h1 {
  font-size: 70px;
  font-family: "Tangerine", cursive;

  margin-bottom: -0.5%;
}

.fa {
  padding: 20px;
  font-size: 45px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  margin: 5px 7px;
  margin-bottom: 25px;
  border-radius: 15%;
}

.fa:hover {
  opacity: 0.7;
}

.social-link {
  display: inline-block;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

.fa-pinterest {
  background: #cb2027;
}

.fa-instagram {
  background: #125688;
}

/* Email Newsletter */

.news-msg-holder {
  display: none;
}

.email-list {
  display: flex;
  justify-content: center;
  background-color: #ffae0073;
  padding-bottom: 3%;
  margin: 2.5% 5%;
  border-radius: 1%;

  text-align: center;
}

.subscribe-email div {
  margin-top: 5px;
}

#subscribe {
  margin-top: 15px;
}

#email {
  border: 1px solid whitesmoke;
  padding: 7px;
  border-radius: 8px;
  font-size: 17px;
}

/* Sponsors */

.divider {
  height: 15vh;
  width: 90%;
  margin-bottom: -1%;
}

.sponsors-container {
  text-align: center;
  font-size: 24px;
}

.sponsors-container h2 {
  margin: 7px 0 15px 0;
}

/* FAQ */
.faq-q::-webkit-details-marker {
  color: #5000e6b6;
}

.faq-a a {
  text-decoration: dotted underline;
  color: #ff7300;
}

/* Ticketing */

.ticket-setup {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

.ticket-setup h2 {
  margin-bottom: -5px;
}

table,
th {
  border: 3px solid black;
  border-collapse: collapse;
}

td {
  padding: 0 10px;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  width: 25%;
  padding: 5px;
  text-align: center;
}

.ticket-boxes {
  box-sizing: border-box;
}

.ren-faire {
  width: 33.3%;
}

.les-amis {
  margin-left: auto;
  width: 49.5%;
}

.ren-faire,
.les-amis {
  float: left;
  padding: 8px;
}

.les-ul,
.ticket-ul {
  list-style-type: none;
  border: 7px ridge #fcce17;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.les-ul:hover,
.ticket-ul:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.les-ul .les-header,
.ticket-ul .ren-gen {
  background-color: #1502be;
  color: whitesmoke;
  font-size: 23px;
  font-weight: bold;
}

.les-ul li,
.ticket-ul li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.ticket-contact {
  margin-top: -20px;
}

.t-price {
  margin-left: auto;
}

.rf-la-bttn {
  background-color: #ff7300;
  border: none;
  color: whitesmoke;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
}

.kne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kne h2 {
  margin-bottom: 3px;
}

#le-amis-title {
  margin: 3px 0 -17px 0;
}
