@media screen and (max-width: 600px) {
  #cr-tags img {
    width: 150px;
  }
}

.foot {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: url("../images/blueVariant-print.png");
  background-position: bottom;
  background-size: cover;
  color: whitesmoke;
}

.foot a {
  color: white;
  text-decoration: none;
}

/* Copyright tags and Logo */
#cr-tags img {
  height: 80px;
  width: 250px;
}

#cr-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5% 3% 10% 0;
  font-size: 17px;
}

#cr-tags a {
  color: #0d9aff;
}

/* General and Realm adjustments */
#general,
#realm {
  display: flex;
  flex-direction: column;
}

#reasons {
  padding-bottom: 15px;
}

#reasons p {
  margin-top: -10px;
}

#general a,
#realm a {
  margin-bottom: 15px;
}
