/* Created September 23rd
    by Noel Kling
    */
@media screen and (max-width: 600px) {
  .nav-bar li {
    display: none;
  }

  nav {
    position: relative;
    background-image: url("../images/blue-abstract-nav.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
    width: 100%;
  }

  li.icon {
    display: block;
    height: 100%;
    padding-top: 0.05%;
  }

  li {
    padding-top: 3%;
  }

  #logo img {
    height: 25vw;
    width: 70vw;
  }

  .nav-bar.repsonsive li {
    margin: 0;
  }

  .nav-bar.repsonsive .icon {
    position: relative;
  }

  .nav-bar.repsonsive a {
    text-align: ;
    margin-right: 5%;
    float: none;
    display: block;
  }
}

.head {
  display: flex;
  flex-direction: column;

  background-image: url("../images/blueVariant-print.png");
  background-size: cover;
}

.head li {
  list-style-type: none;
  text-align: -webkit-match-parent;
}

.head a {
  text-decoration: none;
  font-weight: bold;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contacts {
  float: right;
  border-left: 6px solid #bf00ff4b;
  padding-left: 0.5%;
  margin-right: 2vw;

  white-space: nowrap;
  min-width: 25px;
}

.contacts li {
  margin: 10px 0;
}

.contacts a {
  padding: 3px 5px;
  color: whitesmoke;
}

#logo {
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  max-width: 500px;
}

.nav-bar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;

  background-image: url("../images/blue-abstract-nav.png");
  background-size: cover;
  background-blend-mode: lighten;
}

.nav-bar li {
  list-style-type: none;
  text-align: -webkit-match-parent;
}

.nav-bar a {
  float: left;
  display: inline-block;

  color: white;
  text-align: center;
  padding: 0.8em 0.5em;
  font-size: 24px;
  white-space: normal;

  text-decoration: none;
  font-weight: bold;

  width: 15%;

  height: 100%;
}

#weekends {
  width: 20%;
}

#entertain {
  width: 20%;
}

.nav-bar a:hover {
  background-color: rgba(0, 51, 128, 0.5);
}

.icon {
  width: 100%;
  height: 100%;
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
